*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Red Hat Mono', monospace;
  background: linear-gradient(#FFF0FE 68%, #c5c6f2 100%);
  height: 100vh;
}



h1 {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #5F3343;

}

.icon_toilet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
}

.buttom_zpet {
  font-family: 'Red Hat Mono', monospace;
  position: absolute;
  background-color: #abacf5;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #826cda;
  transition: all 0.3s ease;
  color: white;

}

.buttom_zpet:hover {
  background-color: #705ce3;
}

.back {
  position: absolute;
  margin-left: 100px;
  margin-top: 100px;
  z-index: 1
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

.sliding-element {
  animation: slide 10s infinite;
  display: flex;
  position: absolute;
  height: 120%;
  right: 100px;
  bottom: 70px;

}
